@font-face {
    font-family: 'FF DIN';
    src: url('DINBold.woff2') format('woff2'),
        url('DINBold.woff') format('woff'),
        url('DINBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FF DIN';
    src: url('DIN-Medium.woff2') format('woff2'),
        url('DIN-Medium.woff') format('woff'),
        url('DIN-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FF DIN';
    src: url('DIN.woff2') format('woff2'),
        url('DIN.woff') format('woff'),
        url('DIN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

